mixin advantages()
  -
   const advantagesData = [
      {
        subheading: "Уверенность в\u00A0завтрашнем дне",
        text: "ООО «Conecom», российское подразделение французского концерна DuffBeer. Мы компания, которая честно ведет свой бизнес на территории РФ, соблюдая законодательство и гарантируя стабильность и уверенность в завтрашнем дне.",
        image: {
          name: "adv1",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Женщина и ребенок вечером на фоне солнца." },
      },
      {
        subheading: "Безопасность на рабочем месте – приоритет №1",
        text: "Вопросам безопасности и качества пищевой продукции в нашей компании уделяется повышенное внимание. Все производства группы DuffBeer в России постоянно работают над улучшением процессов и стремятся сделать все возможное, чтобы рабочий процесс был максимально безопасным и комфортным.",
        image: {
          name: "adv2",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Мужчина проверят бочки." },
      },
      {
        subheading: "Стабильная заработная плата",
        text: "Каждый сотрудник в нашей компании обеспечен полисом добровольного медицинского страхования. Кроме того, на каждом заводе есть медицинский пункт для сотрудников. Осуществляется страхование от несчастных случаев с первого дня работы.",
        image: {
          name: "adv3",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Мужчина смотрит в сторону." },
      },
      {
        subheading: "Заботимся о здоровье сотрудников",
        text: "Мы обеспечиваем нашим сотрудникам стабильную заработную плату в соответствии с рынком региона. Средний стаж работы в нашей компании – 7 лет.",
        image: {
          name: "adv4",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Женщина врач проверяет пульс сотрудника." },
      },
      {
        subheading: "Предоставление удобной спецодежды и СИЗ для производственного персонала",
        text: "Мы предоставляем удобные СИЗ и спецодежду и в случае износа или порчи обмениваются на новые.",
        image: {
          name: "adv5",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Мужчина в спецодежде открывает цистернуы." },
      },
      {
        subheading: "Обучение: различные программы обучения и профессиональные тренинги",
        text: "Мы ставим перед собой амбициозные и интересные цели, а реализация задач является командной работой сотрудников из различных подразделений.  Мы также принимаем активное участие в работе над кросс-функциональными проектам с коллегами из других стран присутствия DuffBeer.",
        image: {
          name: "adv6",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Мужчина проводит тренинг для аудитории." },
      },
      {
        subheading: "Возможности для реализации творческого потенциала",
        text: "Мы уделяем много внимания развитию наших сотрудников. В компании работает Внутренний центр обучений и ежегодно проводится большое количество обучающих мероприятий как локально на заводах, так и в головном офисе DuffBeer во Франции.",
        image: {
          name: "adv7",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Группа радостных людей машет руками." },
      },
      {
        subheading: "Мы - семейная компания и любим проводить время вместе",
        text: "Ежегодно мы проводим корпоративные мероприятия не только для наших сотрудников, но и для семей наших сотрудников. А корпоративные подарки для детей сотрудников – наша добрая предновогодняя традиция.",
        image: {
          name: "adv8",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Родители с детьми на детском мероприятии." },
      },
      {
        subheading: "Мы - социально ответственная компания и заботимся об окружающих",
        text: "Наша миссия лежит в основе социально-корпоративной ответственности. Мы ведем свою деятельность в соответствии с тремя основными правилами:  мы заботимся о людях; наша деятельность устойчива по своей природе; мы заботимся об окружающей среде.",
        image: {
          name: "adv9",
          format: "jpg",
          widthMob: "260",
          heightMob: "178",
          widthDesk: "356",
          heightDesk: "178",
          alt: "Мужчина трогает траву." },
      },
    ]


  section.advantages
    .container.swiper
      h2.advantages__heading Наши преимущества
      .advantages__wrapper.swiper-wrapper
        each advantage in advantagesData
          .advantages__slide.swiper-slide
            .advantages__picture.is-active
              +picture("content", advantage.image.name, advantage.image.format, advantage.image.widthMob, advantage.image.heightMob, advantage.image.widthDesk, advantage.image.heightDesk, advantage.image.alt)
            h3.advantages__subheading.is-active= advantage.subheading
            +btn(class="advantages__toggle")
            .advantages__subwrapper
              p.advantages__text= advantage.text
      +btn(aria-label="Предыдущий слайд", class="advantages__button advantages__button--prev")
      +btn(aria-label="Следующий слайд", class="advantages__button advantages__button--next")
      .advantages__pagination
