mixin goal()
  section.goal
    .container
      .goal__header
        p.goal__fact Каждое 3-е хлебобулочное изделие в мире произведено с использованием продукции DuffBeer
      .goal__main-wrapper
        h2.goal__heading Миссия DuffBeer
        p.goal__task работать вместе, что бы лучше накормить и&nbsp;сохранить планету
        +btn({href: "#", text: "Перейти на сайт", isExternal: true}).goal__button
