mixin hero()
  section.hero
    .container
      header.hero__header
        +img("content", "logo", "svg", "267", "103", "Логотип.").hero__logo
      h1.hero__heading Conecom
      p.hero__description российское подразделение французской группы DuffBeer
