.goal {
  @media (min-width: $vp960) {
    padding-top: 18px;

    background-color: $color-linen;
  }

  @media (min-width: $vp1280) {
    padding: 0;

    background-color: transparent;
  }

  .container {
    color: $color-default-white;
  }

  &__header {
    position: relative;

    overflow: hidden;

    min-height: 144px;
    padding: 33px 20px 31px 43px;

    background-color: $color-smalt;

    &::after {
      position: absolute;
      right: -55px;
      bottom: -94px;

      width: 179px;
      height: 160px;

      content: "";

      background-image: url("../img/sprite/goal-dots.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (min-width: $vp640) {
      min-height: 104px;
      padding: 33px 108px 31px 69px;

      &::after {
        right: -2px;
        bottom: -40px;

        width: 179px;
        height: 137px;
      }
    }

    @media (min-width: $vp960) {
      min-height: 252px;
      padding: 94px 108px 31px 125px;

      &::after {
        right: -286px;
        bottom: -147px;

        width: 437px;
        height: 323px;
      }
    }

    @media (min-width: $vp1280) {
      padding: 94px 268px 31px 145px;

      &::after {
        right: -6px;
        bottom: -150px;
      }
    }
  }

  &__fact {
    font-size: 16px;
    font-weight: $regular;
    line-height: 20px;

    position: relative;
    z-index: 1;

    margin: 0;

    &::before {
      position: absolute;
      z-index: -1;
      left: -29px;

      width: 22px;
      height: 28px;

      content: "";

      background-image: url("../img/sprite/goal-arrows.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (min-width: $vp640) {
      &::before {
        top: 5px;
        left: -49px;
      }
    }

    @media (min-width: $vp960) {
      font-family: $ff-verdana;
      font-size: 21px;
      line-height: 32px;

      letter-spacing: 0.3px;

      &::before {
        top: 2px;
        left: -85px;

        width: 47px;
        height: 59px;
      }
    }
  }

  &__heading {
    font-family: $ff-verdana;
    font-size: 17px;
    font-weight: $regular;
    line-height: 46px;

    position: relative;

    max-width: fit-content;
    margin: 0 auto;
    padding: 0 30px 4px 36px;

    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    &::before,
    &::after {
      position: absolute;
      top: 22px;
      left: 0;

      display: block;

      width: 15px;
      height: 1px;

      content: "";

      background-color: $color-default-white;
    }

    &::after {
      right: 0;
      left: inherit;
    }

    @media (min-width: $vp640) {
      font-size: 28px;
      font-weight: $regular;
      line-height: 46px;

      padding: 0 28px 19px;

      letter-spacing: 1px;

      &::before,
      &::after {
        top: 21px;
      }
    }

    @media (min-width: $vp960) {
      font-size: 46px;
      line-height: 80px;

      padding: 0 87px 32px;

      letter-spacing: 0;

      &::before,
      &::after {
        top: 38px;

        width: 66px;
        height: 4px;
      }
    }

    @media (min-width: $vp1280) {
      padding-bottom: 38px;
    }
  }

  &__task {
    font-size: 16px;
    font-weight: $regular;
    line-height: 20px;

    margin: 0;
    padding-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    @media (min-width: $vp640) {
      padding: 0 90px 11px 86px;
    }

    @media (min-width: $vp960) {
      font-size: 24px;
      line-height: 32px;

      padding: 0 90px 32px 90px;
    }

    @media (min-width: $vp1280) {
      padding-bottom: 38px;
    }
  }

  &__main-wrapper {
    padding: 27px 20px 60px;

    background-image: image-set(url("../img/content/goal-xs@2x.webp") type("image/webp") 2x, url("../img/content/goal-xs.webp") type("image/webp") 1x, url("../img/content/goal-xs@2x.jpg") type("image/jpg") 2x, url("../img/content/goal-xs.jpg") type("image/jpg") 1x);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp640) {
      padding: 56px 20px 55px;

      background-image: image-set(url("../img/content/goal-s@2x.webp") type("image/webp") 2x, url("../img/content/goal-s.webp") type("image/webp") 1x, url("../img/content/goal-s@2x.jpg") type("image/jpg") 2x, url("../img/content/goal-s.jpg") type("image/jpg") 1x);
    }

    @media (min-width: $vp960) {
      padding: 84px 20px 101px;

      background-image: image-set(url("../img/content/goal-m@2x.webp") type("image/webp") 2x, url("../img/content/goal-m.webp") type("image/webp") 1x, url("../img/content/goal-m@2x.jpg") type("image/jpg") 2x, url("../img/content/goal-m.jpg") type("image/jpg") 1x);
    }

    @media (min-width: $vp1280) {
      padding-top: 80px;

      background-image: image-set(url("../img/content/goal-l@2x.webp") type("image/webp") 2x, url("../img/content/goal-l.webp") type("image/webp") 1x, url("../img/content/goal-l@2x.jpg") type("image/jpg") 2x, url("../img/content/goal-l.jpg") type("image/jpg") 1x);
    }
  }

  &__button {
    font-size: 18px;
    font-weight: $regular;
    line-height: 28px;

    display: block;

    max-width: 197px;
    margin: 0 auto;

    text-align: center;

    color: $color-smalt;
    background-color: $color-default-white;

    @media (min-width: $vp640) {
      font-size: 14px;

      max-width: 170px;
    }

    @media (min-width: $vp960) {
      font-size: 18px;
      line-height: 28px;

      max-width: 283px;
      padding: 20px 10px 20px 11px;
    }
  }
}
