.hero {
  width: 100%;
  max-width: 1440px;
  min-height: 352px;
  margin: 0 auto;

  background-color: $color-stonewall-67;
  background-image: image-set(url("../../img/content/hero-xs@2x.webp") type("image/webp") 2x, url("../../img/content/hero-xs.webp") type("image/webp") 1x, url("../../img/content/hero-xs@2x.jpg") type("image/jpg") 2x, url("../../img/content/hero-xs.jpg") type("image/jpg") 1x);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: $vp640) {
    min-height: 314px;

    background-image: image-set(url("../../img/content/hero-s@2x.webp") type("image/webp") 2x, url("../../img/content/hero-s.webp") type("image/webp") 1x, url("../../img/content/hero-s@2x.jpg") type("image/jpg") 2x, url("../../img/content/hero-s.jpg") type("image/jpg") 1x);
  }

  @media (min-width: $vp960) {
    min-height: 599px;

    background-image: image-set(url("../../img/content/hero-m@2x.webp") type("image/webp") 2x, url("../../img/content/hero-m.webp") type("image/webp") 1x, url("../../img/content/hero-m@2x.jpg") type("image/jpg") 2x, url("../../img/content/hero-m.jpg") type("image/jpg") 1x);
  }

  @media (min-width: $vp1280) {
    position: relative;
    background-image: image-set(url("../../img/content/hero-l@2x.webp") type("image/webp") 2x, url("../../img/content/hero-l.webp") type("image/webp") 1x, url("../../img/content/hero-l@2x.jpg") type("image/jpg") 2x, url("../../img/content/hero-l.jpg") type("image/jpg") 1x);

    &::after {
      position: absolute;

      width: 363px;
      height: 367px;
      bottom: -97px;
      right: 0;
      background-image: url("../../img/sprite/hero-dots.svg");
      content: "";
    }
  }

  .container {
    @media (min-width: $vp960) {
      padding-left: 40px;
    }

    @media (min-width: $vp1280) {
      padding-left: 60px;
    }
  }

  &__header {
    margin: 0 auto;
    width: 167px;
    height: 64px;

    @media (min-width: $vp960) {
      width: 267px;
      height: 103px;
      margin: 0;
      margin-left: 20px;
    }

    @media (min-width: $vp1280) {
      margin: 0;
    }
  }

  &__logo {
    @media (min-width: $vp960) {
      width: 267px;
      height: 103px;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: $regular;
    line-height: 24px;

    margin: 0;
    padding-top: 54px;
    padding-bottom: 22px;

    text-align: center;
    text-transform: uppercase;

    color: $color-default-white;

    @media (min-width: $vp640) {
      font-size: 36px;
      line-height: 40px;
    }

    @media (min-width: $vp960) {
      font-size: 72px;
      line-height: 80px;
      padding-top: 135px;
      padding-bottom: 28px;
      text-align: left;
    }

    @media (min-width: $vp1280) {
      padding: 117px 0 14px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: $regular;
    line-height: 20px;

    width: 227px;
    height: 25px;
    margin: 0 auto;

    text-align: center;

    color: $color-default-white;

    @media (min-width: $vp640) {
      width: 322px;
      height: 40px;
    }

    @media (min-width: $vp960) {
      font-size: 26px;
      line-height: 36px;

      width: 550px;
      height: 72px;
      margin: 0;
      padding-bottom: 40px;
      text-align: left;
    }
  }
}
