@font-face {
  font-style: normal;
  font-weight: $regular;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
}
