// Colors

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette

$color-smalt: #0a3b93;
$color-stonewall: #8a7b60;
$color-soya-bean: #6c5f4a;
$color-linen: #f7eee5;


$color-stonewall-67: rgba(138, 123, 96, 0.67);
$color-stonewall-42: rgba(138, 123, 96, 0.42);
$color-stonewall-33: rgba(138, 123, 96, 0.33);

//Typography

$regular: 400;

$ff-placeholder: "Placeholder", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;
$ff-arial: "Arial", sans-serif;

$fz-default: 16px;

// Animation

$tf-default: ease;

$trans-default: 0.3s $tf-default;

// Viewports

$vp320: 320px;
$vp640: 640px;
$vp960: 960px;
$vp1280: 1280px;
